@page "/zbijak"
@using Szachy
@using System.IO
@using Helpers
@using System.Text.RegularExpressions
@inject PiecesHelper PiecesHelper
@using System.Net.Http
@inject HttpClient Http
@inject IJSRuntime js;


@if (!ShowPopup)
{
    <h3>Wskaż zaatakowane bierki</h3>

    <table class="szachownica">
        <tbody>
            @for (int rzad = 1; rzad < 9; rzad++)
            {
                <tr class="rzad">
                    @for (int kolumna = 1; kolumna < 9; kolumna++)
                    {
                        var bierka = zbijak.szachownica.GetPole(rzad, kolumna).Bierka;
                        var klasaKoloru = zbijak.szachownica.GetPole(rzad, kolumna).Kolor == Kolor.Bialy ? "bialy" : "czarny";
                        var podglad = zbijak.bierkiZaznaczone.Contains(bierka) ? "podglad" : "";
                        var zaznaczenie = zbijak.atakiZnalezione.Contains(bierka) ? "zaznaczenie" : "";
                        <td class="pole @klasaKoloru @podglad @zaznaczenie">
                            @if (bierka != null)
                            {
                                <img class="pole" src="@PiecesHelper.GetImageSrc(bierka)" @onclick="() => Kliknieto(bierka)" @onmousedown="args => PrzycisnietoFigure(bierka, args)" @onmouseup="args => PuszczonoFigure(bierka, args)" />
                            }
                            else
                            {
                            <span>&nbsp;</span>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div class="podszachownica">
        <div class="float-left w-50">
           <h3> Zostało: <b>@zbijak.atakiDoZnalezienia.Except(zbijak.atakiZnalezione).Count()</b> </h3>
           <p>Ustawień: <span class="dobrze"><b>@zbijak.RundaZadania</b></span> Poprawnie: <span class="dobrze"><b>@zbijak.RundaDobre</b></span> Błędy: <span class="blednie"><b>@zbijak.RundaBledy</b></span> Punkty: <b>@zbijak.RundaPunkty</b></p>
         </div>
        <div class="float-right w-50">
            <h3 class="text-right"><span class="@(timeValue < new TimeSpan(0,1,0) ? "koniecCzasu" : "")"><b>@(timeValue.ToString(@"mm\:ss"))</b></span></h3>
            <button class="btn btn-primary mt-3 float-right" @onclick="dajNastepne">@Zaczynamy</button>
            </div>
        </div>

   
}
else
{
<div class="szachownica">
        <h3>Punkty: <b>@zbijak.RundaPunkty</b> </h3>
        <h2>Dzisiejsze najlepsze:  </h2>
        @foreach (var wynik in zbijak.wyniki)
        {
            <p>@wynik</p>
        }
        <p>Ustawień: <span class="dobrze"><b>@zbijak.RundaZadania</b></span> </p><p>Poprawnie: <span class="dobrze"><b>@zbijak.RundaDobre</b></span></p><p> Błędy: <span class="blednie"><b>@zbijak.RundaBledy</b></span></p>
    <button class="btn btn-primary mt-3" @onclick="dajNastepne">Jeszcze raz</button>
</div>

    
}





@code {
    private System.Threading.Timer _timer;
    private DateTime startTime;


    Szachy.Treningi.Zbijak zbijak = new Szachy.Treningi.Zbijak();
    static int timeForRound = 3;//in minutes
    TimeSpan timeValue = new TimeSpan(0, timeForRound, 0);
    string Zaczynamy = "Zaczynamy";

    protected override async Task OnInitializedAsync()
    {
        Regex fenRegex = new Regex(@"([rnbqkpRNBQKP1-8]+\/){7}[rnbqkpRNBQKP1-8]+");
        var fensResponse = await Http.GetStringAsync("FENs/MateIn4.json");
        var fens = fensResponse.Split("\r\n").Where(d => fenRegex.IsMatch(d)).ToArray();
        zbijak = new Szachy.Treningi.Zbijak(fens);
    }

    private void PrzycisnietoFigure(Bierka b, MouseEventArgs mouseEventArgs)
    {

        if (mouseEventArgs.Button == 2) // prawy klawisz
        {
            zbijak.PokazBierkiZaatakoanePrzez(b);
        }
    }

    private void PuszczonoFigure(Bierka b, MouseEventArgs mouseEventArgs)
    {
        if (mouseEventArgs.Button == 2) // prawy klawisz
        {
            zbijak.SchowajBierkiZaatakowane();
        }
    }

    private async void dajNastepne(MouseEventArgs mouseEventArgs)
    {
        Zaczynamy = "Od nowa";

        ShowPopup = false;
        zbijak.NastepnaRunda();

        await js.InvokeVoidAsync("PlayAudioFile", "/sounds/start.wav");

        timeValue = new TimeSpan(0, timeForRound, 0);
        Start();
    }

    private async void Kliknieto(Bierka b)
    {
        if (zbijak.WskazanoBierke(b))
        {
            await js.InvokeVoidAsync("PlayAudioFile", "/sounds/success.mp3");
        }
        else
        {
            await js.InvokeVoidAsync("PlayAudioFile", "/sounds/failure.wav");
        }
    }

    async Task StopWatch()
    {

        timeValue = new TimeSpan(0, timeForRound, 0).Subtract(DateTime.Now - this.startTime);
        await InvokeAsync(StateHasChanged);

        if (timeValue.Ticks <= 0)
        {
            await InvokeAsync(Stop);
            await InvokeAsync(PodsumujRunde);
            await js.InvokeVoidAsync("PlayAudioFile", "/sounds/trumpets.mp3");
        }
    }

    public void Start()
    {
        Stop();
        this.startTime = DateTime.Now;
        _timer = new System.Threading.Timer(async _ =>
        {
            await StopWatch();

        }, null, 0, 1000);
    }

    public void Stop()
    {
        _timer?.Dispose();
        _timer = null;
    }

    bool ShowPopup = false;
    private void PodsumujRunde()
    {
        ShowPopup = true;

        File.AppendAllText("rekordy.txt", $"\n{zbijak.RundaPunkty}");
        var lines = File.ReadAllLines("rekordy.txt");
        zbijak.wyniki = lines.Where(n => !String.IsNullOrWhiteSpace(n)).Select(n => int.Parse(n.Trim())).OrderByDescending(d => d).Take(5);
        StateHasChanged();
    }
}


